.filter__input + label {
  display: flex;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-image: url(../img/svg/icon-checkbox.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.filter__input:hover + label,
.filter__input:focus + label {
  color: $color-safety-orange;
}

.filter__input:disabled + label {
  color: opacify 0.5;
}

.filter__input:checked + label {
  &::before {
    background-image: url(../img/svg/icon-checkbox-on.svg);
  }
}

.filter__text {
  margin-left: 8px;
}
