.header {
  padding: 28px 0;
  background-color: $color-nero;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  svg {
    width: 182px;
    height: 35px;

    @include vp-767 {
      width: 106px;
      height: 20px;
    }
  }
}
.header__search {
  width: 571px;

  @include vp-1023 {
    display: none;
  }
}

.header__usermenu-desctop {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.header__usermenu-mobile {
  display: none;

  @include vp-1023 {
    display: block;
  }
}
