.link {
  border: none;
  border-radius: 0;
  background-color: $color-transparent;
  color: inherit;
  cursor: pointer;

  transition: opacity $trans-default, color $trans-default;

  &:hover,
  &:focus {
      color: $color-safety-orange;
  }



  &:disabled {
    color: $color-dim-gray;
    pointer-events: none;
  }


  &--blue {
    color: $color-dodger-blue;

    &:hover,
    &:focus {
      color: $color-dodger-blue;
      text-decoration: underline;
    }

    &:disabled {
      color: $color-dim-gray;
    }
  }

  &--gray {
    color: $color-dim-gray;
  }
}
