.page-catalog__column {
  display: grid;
  grid-template-columns: 217px 1fr;
  grid-gap: 21px;
}

.page-catalog__count {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: $color-safety-orange;
  vertical-align: top;
}
