.price {
  margin-bottom: 24px;
}

.price__container-value {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.price__value {
  position: relative;
  width: 97px;


  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;

    font-size: 16px;
    line-height: 130%;

    color: $color-dim-gray;
  }

  input {
    width: 100%;
    padding-left: 25px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 16px;
    line-height: 130%;

    border: 1px solid $color-default-white;
    border-radius: 40px;

    background-color: $color-nero;
    color: $color-default-white;

  }
}

.price__scale {
  margin-bottom: 24px;
  width: calc(100% - 16px);
  margin-left: 8px;
  // height: 5px;
  // background: $color-safety-orange;

  &.noUi-target {
    background: $color-dim-gray;
    border: none;
    box-shadow: none;
  }

  &.noUi-horizontal{
    height: 5px;

  }

  .noUi-connect {
    background: $color-safety-orange;
  }


  &.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -6px;
  }

  .noUi-handle {
    border: 2px solid $color-safety-orange;
    border-radius: 100%;
    background: $color-nero;
    box-shadow: none;
    cursor: default;

    &::before,
    &::after {
      content: none;
    }
  }
}
