.search {
  position: relative;
  display: flex;

  label {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    background-color: $color-default-white;
    color: $color-nero;

    border: 1px solid $color-default-white;
    border-radius: 40px 0px 0px 40px;

    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
   }

   input {
    width: 100%;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: $color-nero;
    color: $color-default-white;

    border: none;
    border: 1px solid $color-default-white;
    border-radius: 0 40px 40px 0;
    outline: none;
   }

   &--border-radius {
    input {
      border-radius: 40px;
    }
  }

  &--margin-16 {
    margin-bottom: 16px;
  }
}

.search__button {
  padding: 0;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;

  svg {
    width: 17px;
    height: 17px;
  }
}
