$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

$color-nero:                        #141414;
$color-spring-green:                #00FF66;
$color-safety-orange:               #FF5C00;
$color-aqua:                        #00FFF0;
$color-dark-gray:                   #AAAAAA;
$color-dim-gray:                    #707070;
$color-dodger-blue:                 #2C80FF;
$color-nero-transparent08:           rgba(20, 20, 20, 0.8);


$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;
