<header class="header">
  <div class="container">
    <div class="header__wrapper">
      @@if (!context.index) {
        <a class="header__logo" href="index.html" aria-label="Переход на главную">
          <svg width="160" height="50">
            <use xlink:href="#icon-logo"></use>
          </svg>
        </a>
      }
      @@if (context.index) {
        <span class="header__logo">
          <svg width="160" height="50">
            <use xlink:href="#icon-logo"></use>
          </svg>
        </span>
      }

      <div class="header__search">
        <form method="get" action="#" autocomplete="off">
          <div class="search">
            <label for="searching" aria-label="Поиск по каталогу">
              каталог
            </label>
            <input type="search" id="searching" name="searching">
            <button class="link search__button" type="submit">
              <svg width="17" height="17">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>

      <div class="header__usermenu-desctop">
        <ul class="user-menu">
          <li class="user-menu__item">
            <a class="user-menu__link link" href="#">
              <svg width="32" height="32">
                <use xlink:href="#icon-user"></use>
              </svg>
            </a>
          </li>
          <li class="user-menu__item">
            <a class="user-menu__link link" href="#">
              <svg width="32" height="32">
                <use xlink:href="#icon-favorites"></use>
              </svg>
            </a>
          </li>
          <li class="user-menu__item">
            <a class="user-menu__link link" href="#">
              <svg width="32" height="32">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="header__usermenu-mobile">
        <ul class="user-menu">
          <li class="user-menu__item">
            <button class="link user-menu__link" type="button">
              <svg width="32" height="32">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </li>
          <li class="user-menu__item">
            <a class="user-menu__link link" href="#">
              <svg width="32" height="32">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </a>
          </li>
          <li class="user-menu__item">
            <button class="link user-menu__link" type="button">
              <svg width="24" height="24">
                <use xlink:href="#icon-burger"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>

